.container2
{
    height: 100vh;
    width:100%;
    background-color: #1C55C9;
}
.heading 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#head
{
    width: 50%;
    text-align: center;
}
.whitewala{
    width:40%;
    height: 60%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.waisay
{
    color: white;
    background-color: black;
    width:30%;
    height: fit-content;
    font-size: 1.3rem;
    padding: 30px;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#p1
{
    position: absolute;
    left:200px;
   
}

#p2
{
    position: absolute;
    right: 200px;
    bottom: -570px;
}